
    /* Global styling */
    body {
      font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      background-color: rgba(255, 255, 255, 0.493);
      color: #000000;
    }


   
    /* Custom card styles */
    .card {
      border: none;
      border-radius: 12px;
      box-shadow: 0 4px 8px #fcfcfc1a;
      transition: transform 0.3s ease;
      margin-bottom: 20px; /* Ajuste o espaçamento */
    }

    .card:hover {
      transform: translateY(-10px); /* Elevate the card on hover */
      box-shadow: 0 8px 16px rgba(202, 94, 94, 0.2);
    }

    .card-img-top {
      height: 200px;
      object-fit: cover;
      border-radius: 12px 12px 0 0;
      max-width: 100%; /* Garante que a imagem se ajuste corretamente */
    }

    .card-body {
      padding: 15px;
      text-align: center;
      background-color: #d97014;
      border-radius: 0 0 12px 12px;
    }

    .card-title {
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .card-body p {
      color: #0e0500d2;
      font-size: 0.9rem;
      margin: 0;
    }

    /* Diminuir tamanho dos botões */
    .btn-warning {
      background-color: #ffc629;
      border: none;
      font-size: 0.9rem;
      padding: 8px 15px;
      width: auto;
      border-radius: 8px;
      transition: background-color 0.3s;
      margin-top: 10px; /* Espaçamento superior para o botão */
    }

    .btn-warning:hover {
      background-color: #e21111;
    }

    /* Comentários */
    .comment-section {
      margin-top: 20px;
    }

    .comment-box {
      width: 100%;
      margin-bottom: 10px;
      padding: 8px;
      border-radius: 8px;
      border: 1px solid #0a0000;
    }

    .comment-list {
      list-style-type: none;
      padding: 0;
    }

    .comment-list li {
      background-color: #ff0000a2;
      padding: 8px;
      margin-bottom: 10px;
      border-radius: 8px;
    }

    /* Footer styles */
    footer {
      background-color: #000000;
      color: rgb(250, 37, 0);
      padding: 30px 0;
      text-align: center;
    }

    footer a {
      color: rgb(255, 0, 0);
      text-decoration: none;
      font-weight: bold;
      transition: color 0.3s;
    }

    footer a:hover {
      color: #000000;
    }
